.book-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.book-card {
    display: flex;
    gap: 20px;
    padding: 15px;
    border: 1px solid #444;
    background-color: #222;
    align-items: flex-start;
    transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
    cursor: pointer;
}

.book-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #262626;
}

.book-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #eee;
}

.book-title {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

.book-author {
    margin: 0;
    color: #ccc;
    font-style: italic;
}

.book-format-language,
.book-isbn,
.book-amount {
    margin: 0;
    font-size: 0.95rem;
    color: #aaa;
}

.book-description {
    margin-top: 8px;
    font-size: 0.95rem;
    line-height: 1.4;
    color: #ddd;
}

.book-list-wrapper {
    position: relative;
    display: inline-block;
}

.book-list-image {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.favorite-heart.book-list-heart {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
    z-index: 10;
    transition: color 0.2s ease, transform 0.2s ease;
}

.favorite-heart.book-list-heart.favorited {
    color: red;
}

.title-favorite-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.book-favorite-btn {
    margin-top: 8px;
    width: fit-content;
    padding: 6px 12px;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    transition: background-color 0.2s;
}

.book-favorite-btn:hover {
    background-color: #444; /
}

.book-favorite-btn--active {
    background-color: #555;
}