.sidebar {
    width: 200px;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.sidebar h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: normal;
    color: #ffffff;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar li {
    padding: 6px 8px;
    border: 1px solid #ffffff;
    font-size: 0.9rem;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease;
}

.sidebar li:hover {
    background-color: #ffffff;
    color: #000000;
}