.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.home-user-info {
    margin-bottom: 10px;
}

.book-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-card {
    display: flex;
    gap: 15px;
    padding: 10px;
    border: 1px solid #fff;
}

.book-cover {
    width: 150px;
}

.book-info {
    flex: 1;
}

.book-title {
    margin-bottom: 6px;
}