/* Sidebar */
.sidebar {
    width: 200px;
    padding: 20px;
    border-right: 1px solid #fff;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
}