.top-bar {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.top-bar input {
    padding: 4px 8px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

.top-bar button {
    padding: 4px 8px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}