.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.home-layout {
  display: flex;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  justify-content: center;
}

.user-button {
  margin-left: auto;
}